@import "src/scss/fonts";

.footer{
  font-family: $mainFont;
  color: white;
  font-size: 30px;
  text-align: center;
  background: #1d1d1d;
  opacity: 0.8;
}

.footer__link{
  padding: 0 8px;
  background: yellow;
  text-decoration: none;
  margin-left: 20px;
  border-radius: 10px;
  font-weight: bolder;
  display: inline-block;
  transition: 1s;

  &:hover{
    transform: scale(0.9);
  }
}

