@import "src/scss/fonts";
@import "src/scss/mixins";

.intro__title{
  color: orange;
  font-size: 80px;
  text-align: center;
  font-family: $mainFont;
  text-shadow: 4px 3px 0 #282727;
  margin-top: 20px;
}

.intro__box__main-buttons{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn__login,
.link__game{
  @include buttons;

  &:hover{
    transform: scale(0.9);
  }
}

.intro__form{
  width: 40%;
  padding: 15px;
  background: orange;
  border-radius:12px;
  margin: 0 auto;
  box-shadow: 0 0 19px 1px #000000;
  overflow: hidden;
  transition: 4s;
}

.form__btn{
  @include buttons;
  background: #3d7314;
  font-family: Arial, serif;
  font-size: 12px;
  border: 1px solid whitesmoke;
  width: 100px;
  margin: 0;


  &:hover{
    transform: scale(0.97);
  }
}

.form__welcome-message{
  color: purple;
  font-family: $mainFont;
  font-size: 25px;
  font-weight: bolder;
  margin-left: 50px;
}

.sign-btn{
  margin-top: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > input{
  width: 60%;
  padding: 5px 10px;
  outline: none;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid white;

  &::placeholder{
    color: purple;
    font-family: $mainFont;
    font-size: 20px;
    font-weight: bolder;
  }

  &:focus{
    box-shadow: 0 0 19px 1px #000000;
  }
}


.intro__banner{
  color: whitesmoke;
  text-align: center;
  font-family: $mainFont;
  font-size: 40px;
  overflow: hidden;
  text-shadow: 4px 3px 0 #282727;
}

.form__validation{
  color: purple;
  font-style: italic;
  font-family: "Arial Narrow", sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin-top: 2px;
}
