@import "src/scss/fonts";

.header {
  background: #1d1d1d;
  opacity: 0.8;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text,
  &__login {
    font-family: $mainFont;
    color: white;
    font-size: 30px;
    width: 30%;
    text-align: center;
  }

  &__text > span {
    display: block;
  }

  &__logo strong {
    font-family: $logoFont;
    font-size: 40px;
  }

  &__logo strong:nth-of-type(1) {
    color: orange;
  }

  &__logo strong:nth-of-type(2) {
    color: red;
  }

  &__logo strong:nth-of-type(3) {
    color: green;
  }

  &__logo > span {
    color: white;
    font-size: 40px;
  }

  .fa-pen {
    font-size: 30px;
    color: #236bc3;
    margin-left: 5px;
  }
}


@media (max-width: 970px) {
  .header {

    &__text {
      width: 40%;
    }

    &__text > span {
      display: inline;
    }
  }
}

@media (max-width: 600px) {
  .header {

    &__text {
      display: none;
    }

    &__logo {
      width: 45%;
      margin-left: 50px;
    }

    &__logo strong {
      font-size: 30px;
    }

    &__logo > span {
      font-size: 30px;
    }

    .fa-pen {
      font-size: 20px;
    }

    &__login {
      width: 45%;
      font-size: 25px;
    }
  }
}

@media (max-width: 390px) {
  .header{

    &__logo {
      margin-left: 1px;
    }

    &__login {
      width: 70%;
    }
  }
}




