@import "scss/base";
@import "scss/fonts";
@import "scss/reset";

.wrap{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .wrap {
    height: 100%;
    min-height: 730px;
  }
}